:root {
  --first-color: #002f41;
  --second-color: #61b8d3;
  --white-color: #fff;
}

body {
  font-family: Google Sans, sans-serif;
  background-color: var(--first-color);
  max-width: max-content;
  margin: auto;
  max-width: 55rem;
  width: 100%;
  color: var(--white-color);
}

main {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

input {
  border-radius: none;
}

/* GAME PAD */

.game-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-pad > input {
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid var(--second-color);
  width: 7rem;
  height: 7rem;
  background-color: transparent;
}

#b1,
#b2,
#b3 {
  border-top: none;
}

#b1,
#b4,
#b7 {
  border-left: none;
}

#b3,
#b6,
#b9 {
  border-right: none;
}

#b7,
#b8,
#b9 {
  border-bottom: none;
}

.session-info {
  display: flex;
  gap: 3rem;
}

.details-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* USER NAME */

.player-name-group > i {
  cursor: pointer;
}
.player-name-group > input {
  padding: 0.25rem;
  width: 4rem;
  background-color: var(--first-color);
  color: var(--white-color);
  border: thin solid var(--second-color);
  outline: none;
}

.player-name-group {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

input[disabled] {
  padding: 0;
  cursor: not-allowed;
  background-color: var(--first-color);
  color: var(--white-color);
  border: none;
}
